{% extends 'products_store/base.html' %}
{% load static %}
{% block main %}
        {% comment %} {% if current_user.is_authenticated %} {% endcomment %}
        <section id="comresult">
                <h3>Comments</h3>
            <ul class="list-unstyled text-start border border-dark border-3 px-5">
                {% for comment in comments %}
                    <img id="comw_img" src="{{ comment.comwriter.user_profile.image.url }}" class="rounded border border-dark border-4 my-4">
                    <li class="fs-4 fw-bold">{{ comment.comname }} </li>
                    <li>{{ comment.comtext }}</li>
                    <li class="fs-6"> Name: {{ comment.comwriter }} </li>
                    <li class="fs-6"> Date: {{ comment.commented_date }} </li>
                {% endfor %}
            </ul>
        </section>
        {% comment %} {% endif %} {% endcomment %}
{% endblock main %}