{% extends 'products_store/base.html' %}
{% load static %}
{% block main %}
        {% if user.is_authenticated %}
            <section id="comresult">
                <h3>Comments</h3>
                    <a class="ps-5" href="{% url 'products_store-comment-create' %}">Create Comment</a>
                        <ul class="list-unstyled text-start border border-dark border-3 px-5">
                            <img id="comw_img" src="{{ comment.comwriter.user_profile.image.url }}" class="rounded border border-dark border-4 my-4">
                            <li class="fs-4 fw-bold">{{ comment.comname }} </li>
                            <li>{{ comment.comtext }}</li>
                            <li class="fs-6"> Name: {{ comment.comwriter }} </li>
                            <li class="fs-6"> Date: {{ comment.commented_date }} </li>
                        </ul>
            </section>
        {% endif %}
{% endblock main %}