{% extends 'products_store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}
        <section>
            <form method="POST">
                {% csrf_token %}
                    <h2>Login</h2>
                {{ form|crispy }}
                <div id="subButtlog">
                    <button type="submit" class="btn btn-danger border border-dark border-2">Submit</button>
                </div>
                <div class="pt-5">
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                </div>
            </form>
        </section>
{% endblock main%}