{% extends 'products_store/base.html' %}
{% load static %}
{% block main %}
    <div>
        <div class="ptools">
            <table id="pttable" class="caption-top">
                <caption id="ptcap">Power Tools</caption>
                <tr class="rowprod">
                    <th scope="col">Product Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col" id="itemNum">Product ID</th>
                    <th scope="col">Stock</th>
                    <th scope="col" id="thimg">Images</th>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>2 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GRL 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>5 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb2.jpg' %}" alt="Drill Bosch2" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>DeWalt</td>
                    <td>XR 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>1 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrilld1.jpg' %}" alt="Drill DeWalt" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>10 left</td>
                    <td><img src="{% static 'products_store/product_image/pcidrill2.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>4 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>3 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>7 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>2 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
            </table>
        </div>
        <div class="htools">
            <table id="httable" class="caption-top">
                <caption id="htcap">Hand Tools</caption>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Stock</th>
                    <th scope="col" id="thimg">Images</th>
                </tr>
                <tr>
                    <th scope="row">Hammer</th>
                    <td>DeWalt</td>
                    <td>Standard</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>5 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>3 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>8 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>4 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>6 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>4 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>1 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>9 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
            </table>
        </div>
        <div class="Access">
            <table id="acstable" class="caption-top">
                <caption id="acscap">Accessories</caption>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">Stock</th>
                    <th scope="col" id="thimg">Images</th>
                </tr>
                <tr id="rowprod">
                    <th scope="row">Drill bits</th>
                    <td>Bosh</td>
                    <td>ph2</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>20 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>3 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>7 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>1 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>12 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>5 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>11 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
                <tr>
                    <th scope="row">Cordless Drill</th>
                    <td>Bosh</td>
                    <td>GHL7 18V</td>
                    <td>01 <input class="selectBox" type="checkbox"> </td>
                    <td>7 left</td>
                    <td><img src="{% static 'products_store/product_image/pcdrillb1.jpg' %}" alt="Drill Bosch1" height="50" width="100"></td>
                </tr>
            </table>
        </div>
        {% if user.is_authenticated %}
        <section id="comlist">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <a class="ps-5" href="{% url 'products_store-comment-create' %}">Create Comment</a>
                    <ul class="list-unstyled text-start border border-dark border-3 px-5">
                            <img src="{{ user.comwriter.user_profile.image.url }}" class="rounded border border-dark border-4">
                            <li class="fs-4 fw-bold"><a href="{% url 'products_store-comments-view' %}">{{ comment.comname }}</a> </li>
                            <li class="fs-6"> Name: {{ comment.comwriter }} </li>
                            <li class="fs-6"> Date: {{ comment.commented_date }} </li>
                    </ul>
                {% empty %}
                        <li>No comments yet.</li>
                {% endfor %}
        </section>
        {% endif %}
    </div>
{% endblock main%}