@media screen and (min-width: 320px){
h2{
    height: auto;
}
#regForm{
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 190px;
    height: 150px;
    text-align: center;
    align-content: center;
    display: inline-block;
}
#subButt{
    margin-top: 20px;
}
#logForm{
    background-color: #ffffff;
    border: 2px solid #000000;
    width: 190px;
    height: 150px;
    text-align: center;
    align-content: center;
    display: inline-block;
}
#baskPrev{
    display: none;
    box-sizing: border-box;
    background-color: #ffffff;
    border: 3px solid #d14d4d;
    width: 150px;
    height: 100px;
    font-size: 14px;
    position: absolute;
}
#closeBaskPrev{
    width: 20px;
    height: 20px;
    padding-right: 3px;
    position: top;
    float: right;
    background-color: white;
    color: #d14d4d;
    font-weight: 800;
}
.status{
    width: 50px;
    height: 15px;
    border: 1px solid #000000;
    /* display: none; */
}
}

@media screen and (min-width: 768px){
h2{
    align-self: center;
}
#regForm{
    align-self: center;
    
}
}